//== Gray Shades
$gray-darker: #121212;
$gray-dark: #4d4d4d;
$gray: #808080;
$gray-light: #adadad;
$gray-primary: #e7e7e7;
$gray-lighter: #f8f8f8;

//== Brand Colors
$brand-default: $gray-primary;
$brand-primary: #264ae5;
$brand-success: #3cb33d;
$brand-warning: #eca51c;
$brand-danger: #e33f4e;