$header-color: #ffffff;
$header-background: #606060;
$footer-color: #ffffff;
$footer-background: #303030;

// Topbar
$topbar-bg: #303030;
$topbar-minimalheight: 48px;
$topbar-border-color: #d8d8d8;

// Topbar mobile
$m-header-height: 45px;
$m-header-bg: $topbar-bg;
$m-header-color: #fff;
$m-header-title-size: 16px;