// Default Font Size & Color
$font-size-default: 14px;
$font-color-default: #121212;

// Font Sizes
$font-size-large: 18px;
$font-size-small: 12px;

// Font Weights
$font-weight-light: 100;
$font-weight-normal: normal;
$font-weight-semibold: 600;
$font-weight-bold: bold;

// Font Size Headers
$font-size-h1: 31px;
$font-size-h2: 26px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: $font-size-default;
$font-size-h6: 12px;