@import 'var-media-queries.scss';
@import 'var-brand-colors.scss';
@import 'var-header.scss';
@import 'var-navigation.scss';

$brand-logo: false;
$brand-logo-height: 32px;
$brand-logo-width: 32px;

//== UI Customization


// Global Border Color
$border-color-default: #d8d8d8;
$border-radius-default: 4px;



// Background Colors
// Backgrounds
$bg-color: #f8f8f8;
$bg-color-secondary: #fff;

// Default Link Color
$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);
