@import 'variables/variables.scss';
@import 'modules/columns.scss';
@import 'modules/margins.scss';
@import 'modules/paddings.scss';
@import 'modules/header.scss';
@import 'modules/main.scss';
@import 'modules/footer.scss';
@import 'modules/navigation.scss';

html {
  padding: 0;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  box-sizing: border-box;

  body {
    margin: 0;
    display: flex;
    align-items: stretch;
  }
}
.main-logo {
  box-sizing: border-box;
  padding: 0px;

  background-color: #333;

  img {
    width: 0px;
    height: 0px;
  }
}
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
  .main-logo {
    box-sizing: border-box;
    padding: 2px;
  
    background-color: #333;
  
    img {
      width: auto;
      height: 40px;
    }
  }
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
  .main-logo {
    box-sizing: border-box;
    height: 48px;
    padding: 4px;
  
    background-color: #333;
  
    img {
      width: auto;
      height: 100%;
    }
  }
}

@media screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
  .main-logo {
    box-sizing: border-box;
    height: 64px;
    padding: 4px;
  
    background-color: #333;
  
    img {
      width: auto;
      height: 100%;
    }
  }
}

@media screen and (min-width: $screen-lg) and (max-width: $screen-lg-max) {
  .main-logo {
    box-sizing: border-box;
    height: 64px;
    padding: 4px;
  
    background-color: #333;
  
    img {
      width: auto;
      height: 100%;
    }
  }
}

@media screen and (min-width: $screen-xl) {
  .main-logo {
    box-sizing: border-box;
    height: 64px;
    padding: 4px;
  
    background-color: #333;
  
    img {
      width: auto;
      height: 100%;
    }
  }
}

