$header-color: #ffffff;
$header-background: #606060;
$footer-color: #ffffff;
$footer-background: #303030;

$screen-size-xs: 200px;
$screen-size-sm: 400px;
$screen-size-md: 900px;
$screen-size-lg: 1200px;
$screen-size-xl: 1600px;